<div class='container'>

  <p id="notice"><%= notice %></p>

  <h1>
    <%= @park.name %>
  </h1>
  <hr>
  <div class='col-md-8'>
    <h5>Description:</h5>
    <div class='col-md-10'>
      <%= @park.description %>
    </div>

  </div>



  <div class='col-md-4 text-right'>
    <%= cl_image_tag(@park.picture,
      :width => 300, :height => 200,
        :crop => :fill, :gravity => :face) %>
  </div>


  <div class='col-md-12 text-right'>
    <%= link_to 'Edit', edit_park_path(@park) , class:'btn btn-primary'%>
    <%= link_to 'Back', parks_path , class:'btn btn-warning'%>
  </div>

</div>
